!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Pdf Libraries"
      %meta{:content => content_for?(:description) ? yield(:description) : "Pdf Libraries", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}", style: 'padding-top: 0;'}
    #main{:role => "main"}
      .container
        .row
          .span12
            = render 'layouts/messages'
            .center
              = yield
          %footer
      / ! end of .container
    / ! end of #main
